.content-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.heading {
  color: #00e7ff;
  text-align: center;
}
.image {
  width: 100%;
  height: 250px;
}
.currency-container {
  border: 3px solid #00e7ff;
  border-radius: 5px;
  width: 80%;
}
.heading-div {
  background-color: #092e33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.heading-div h1 {
  font-size: 16px;
}
.currency {
  display: flex;
  justify-content: space-between;
}
.currency h1 {
  min-width: 100px;
}
.list-container {
  width: 100%;
  padding: 20px;
}
